# Different ways for creating data frame

In [3]:
import pandas as pd
# to create dataframe through csv file
df=pd.read_csv('/Users/richa/Desktop/python/jupyter_notebooks/datasource/weather_data.csv')

In [2]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
# to create dataframe through xlsx file
df=pd.read_excel('/Users/richa/Desktop/python/jupyter_notebooks/datasource/weather_data.xlsx','Sheet1')

In [9]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [14]:
# to create dataframe using dictionary 

weather_data = {
    
    'day' : ['01/01/2017','01/02/2017','01/03/2017'],
    'tempreture' : [30,26,20],
    'windspeed' : [6,7,5],
    'event' : ['Sunny','Rain','Snow']
}
df=pd.DataFrame(weather_data)
df

          day  tempreture  windspeed  event
0  01/01/2017          30          6  Sunny
1  01/02/2017          26          7   Rain
2  01/03/2017          20          5   Snow

In [17]:
# to create dataframe using List of tuples

weather_data = [
    
    ('01/01/2017',30,6,'Sunny'),
    ('01/02/2017',26,8,'Rain'),
    ('01/03/2017',20,5,'Snow')
]

df=pd.DataFrame(weather_data)
#specifically mention the column during dataframe creation
df=pd.DataFrame(weather_data,columns=["Days","Temperature","WindSpeed","Event"])
df

         Days  Temperature  WindSpeed  Event
0  01/01/2017           30          6  Sunny
1  01/01/2017           26          8   Rain
2  01/03/2017           20          5   Snow

In [19]:
# to create dataframe using List of dictionaries
weather_data = [
    {"days":"01/01/2017", "temperature":30, "windspeed":6, "event":"Sunny"},
    {"days":"01/02/2017", "temperature":20, "windspeed":8, "event":"Rain"},
    {"days":"01/03/2017", "temperature":15, "windspeed":4, "event":"Snow"}

]

df=pd.DataFrame(weather_data)
df

         days  temperature  windspeed  event
0  01/01/2017           30          6  Sunny
1  01/02/2017           20          8   Rain
2  01/03/2017           15          4   Snow